/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color;
    min-height: 56px;
    padding-top: 24px;
    padding-bottom: 12px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}


.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $grey-color;
}

.svg-icon circle {
  stroke: $grey-color;
  stroke-width: 1;
}


/*
 * Full width basic grid
 */

.half {
    width: 50%;
    float: left;
}

.third {
    width: 33.333333%;
    float: left;
}

.quarter {
    width: 25%;
    float: left;
}

.sixth {
    width: 16.666667%;
    float: left;
}

.push-25 {
    margin-left: 25%;
    width: 50%;
    float: left;
}

.push-16 {
    margin-left: 16%;
    width: 66.666667%;
    float: left;
}


/*
 * Home - case studies
 */

 .full-wrap {
   position: relative;
   display: block;
   width: 100%;

 }

.tri {
  position: absolute;
  width: 35vw;
  left: 32.5%;
  }

.tri img {

}


.full-wrap:nth-of-type(odd) .half:first-of-type {
 background: url(http://fillmurray.com/700/400);
 background-size: cover;

}

.full-wrap:nth-of-type(even) .half:last-of-type {
 background: url(http://fillmurray.com/700/400);
 background-size: cover;

}

.home .half:last-of-type {
 padding-left: 20%;
 padding-right: 10%;
}

.full-wrap:nth-of-type(even) > .half:first-of-type {
 padding-left: 10%;
 padding-right: 20%;
}


.half h2 {
  margin-top: 2em;
}



.tri a {
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
  display: block;
  -webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;

}

.tri a:hover {
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
   -webkit-transition: all 0.7s ease-out;
   -moz-transition: all 0.7s ease-out;
   -o-transition: all 0.7s ease-out;
   transition: all 0.7s ease-out;
}

.work-grid p:last-of-type {
  margin-top: 3em;
display: block;
}

.work-link {
  padding: 1em;
  border: 2px solid;
  display: inline;
  width: 100%;
  border-radius: 28px;
  margin-top: 2em;

}

.plated{
  border-color: red;
  color: red;
}

.lwf {
  border-color: green;
  color: green;
}

.coburg {
  border-color: purple;
  color: purple;
}

.cs-odd a {

  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

}

.cs-odd a:hover {

  -webkit-clip-path: polygon(50% -100%, 200% 200%, -100% 200%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

}

.cs-even a {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

}

.cs-even a:hover {
  -webkit-clip-path: polygon(-100% -100%, 200% -100%, 50% 200%);
  clip-path: polygon(-100% -100%, 200% -100%, 50% 200%);

}



/*
 * Case Studies
 */

 .case-study-list {
   margin-left: 0;
 }

.case-study-list li {
  list-style: none;
  display: block;

}

.case-study-list li:nth-of-type(odd) {
  border-left: 6px $grey-color-dark solid;
  background: #f1f1f1;
}

.case-study-list li:nth-of-type(even) {
  border-left: 6px $grey-color solid;
  background: #fafafa;
}

.case-study-list li a{
  padding: 1.4em 0 1.4em 3em;
  display: block;
  color: $grey-color;
}

.case-study-list li:hover {
  background: #f6f6f6;
}

.intro-content {
  -webkit-column-count: 2;
  -webkit-column-gap: 48px;
  -moz-column-count: 2;
  -moz-column-gap: 48px;
  column-count: 2;
  column-gap: 48px;
}


.about .sixth img {
  width: 100%;
  margin-bottom: 1em;

}

.about .sixth:nth-of-type(-n+6) {
  padding-right: 24px;
}

.wrapper {
  margin-bottom: 2em;
}




@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {

  padding-top: 24px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.center {
  text-align: center;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list ul li:first-of-type {
    display: none;
}

.post-list ul {
  margin-left: 0;
  counter-reset: postnum;
}

.post-list li {
 list-style: none;
 display: block;

}

.post-list ul li {
  counter-increment: postnum;
  position: relative;
}

.post-list ul li:before {
  content: counter(postnum);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
  color: #f7f7f7;
  background: $grey-color;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  padding: 0.4em;
  text-align: center;
  display: table;
}


.post-list ul li:nth-of-type(odd) {
 border-left: 6px $grey-color-dark solid;
 background: #f1f1f1;
}

.post-list ul li:nth-of-type(even) {
 border-left: 6px $grey-color solid;
 background: #fafafa;
}

.post-list li a{
 padding: 1.4em 0 1.4em 4em;
 display: block;
 color: $grey-color;
}

.post-list ul li:hover {
 background: #f6f6f6;
}

.post-list  {
  -webkit-column-count: 2;
  -webkit-column-gap: 48px;
  -moz-column-count: 2;
  -moz-column-gap: 48px;
  column-count: 2;
  column-gap: 48px;
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
