/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color;
    min-height: 56px;
    padding-top: 24px;
    padding-bottom: 12px;
    position: relative;
    @include media-query($on-palm) {
      .wrapper {
        margin-bottom: 0;
      }
    }

}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        line-height: $base-line-height;
        font-size: 1.2em;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    ul {
      list-style: none;

    }

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 15px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 34px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;

            li {
              display: block;
              margin-top: 1.4em;
              &::after {
                height: 0;
              }
              &:first-of-type {
                margin-top: 3em;
              }
            }
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.trigger {
  ul li {
    list-style: none;
    display: inline-block;
    margin-left: 2em;
    position: relative;
  }
  li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top:80%;
    left:0;
    background: $grey-color;
//    border-radius:3px;
    display: none;
  }

  li:hover:after {
    display: block;
    ;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}


.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $grey-color;
}

.svg-icon circle {
  stroke: $grey-color;
  stroke-width: 1;
}


.examples *, .examples {
  @include media-query($on-palm) {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  }
}

/*
 * Full width basic grid
 */

.half {
    width: 50%;
    float: left;
    @include media-query($on-palm) {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      text-align: center;
    }
}

.third {
    width: 33.333333%;
    float: left;
}

.quarter {
    width: 25%;
    float: left;
}

.sixth {
    width: 16.666667%;
    float: left;

    @include media-query($on-laptop) {
      width: 33.333333%;
    }
}

.push-25 {
    margin-left: 25%;
    width: 50%;
    float: left;
}

.push-16 {
    margin-left: 16%;
    width: 66.666667%;
    float: left;
    @include media-query($on-palm) {
      width: 33.333333%;
      margin-left: 4%;
      width: 92%;
    }
}


/*
 * Home - case studies
 */

 .full-wrap {
   position: relative;
   display: block;
   width: 100%;

 }

.tri {
  position: absolute;
  width: 35vw;
  left: 32.5%;
  @include media-query($on-laptop) {
    height: 0vh;
  }
  }

.tri img {
  @include media-query($on-laptop) {
    display: none;

    }

}

.work-grid .full-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}




.plated-home {
 background: url(/images/plated-home.jpg);
 background-size: cover;
 @include media-query($on-palm) {
   background: none;
 }

}

.coburg-home {
 background: url(/images/coburg-home.jpg);
 background-size: cover;
 @include media-query($on-palm) {
   background: none;
 }

}

.capacity-home {
 background: url(/images/capacity-home.jpg);
 background-size: cover;
 @include media-query($on-palm) {
   background: none;
 }
}

.lwf-home {
 background: url(/images/lwf-home-2.jpg);
 background-size: cover;
 @include media-query($on-palm) {
   background: none;
 }
}

.home .half {
  padding-top: 2.4em;
  @include media-query($on-desktop) {
  padding-top: 1.6em;
  }
  @include media-query($on-palm) {
  padding-left: 4% !important;
  padding-right: 4% !important;
  border-bottom: 1px solid $grey-color-light;
  }

}

.home .half:last-of-type {
 padding-left: 20%;
 padding-right: 10%;

   @include media-query($on-desktop) {
     padding-left: 16%;
     padding-right: 4%;
   }

   @include media-query($on-laptop) {
     padding-left: 8%;

   }


}

.full-wrap:nth-of-type(even) > .half:first-of-type {
 padding-left: 4%;
 padding-right: 16%;
 @include media-query($on-laptop) {

   padding-right: 8%;
 }
}

.full-wrap:nth-of-type(odd) > .half:first-of-type {
  @include media-query($on-palm) {
    display: none;
  padding-bottom: 3em;
  }
}
.full-wrap:nth-of-type(odd) > .half:last-of-type {
  @include media-query($on-palm) {
      padding-bottom: 3em;
  }
}

.full-wrap:nth-of-type(even) > .half:first-of-type {
  @include media-query($on-palm) {

  padding-bottom: 3em;
  }
}
.full-wrap:nth-of-type(even) > .half:last-of-type {
  @include media-query($on-palm) {
    display: none;
  padding-bottom: 3em;
  }
}



.tri a {
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
  display: block;
  -webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;

}

.tri a:hover {
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
   -webkit-transition: all 0.7s ease-out;
   -moz-transition: all 0.7s ease-out;
   -o-transition: all 0.7s ease-out;
   transition: all 0.7s ease-out;
   cursor: default;;
}

.work-grid p:last-of-type {
  margin-top: 2em;
display: block;
}

.work-link {
  border: 2px solid;
  display: inline;
  width: 100%;
  border-radius: 28px;
  margin-top: 2em;
  padding: 0.6em 1em;
  font-size: 0.8em;
}

.plated-link{
  border-color: #f46262;
  color: #f46262;
}

.plated-link:hover, .plated-link:focus {
  color: white;
  background: #f46262;
}

.lwf-link {
  border-color: #008ac5;
  color: #008ac5;
}

.lwf-link:hover, .lwf-link:focus {
  color: white;
  background: #008ac5;
}

.coburg-link {
  border-color: #4c1d79;
  color: #4c1d79;
}

.coburg-link:hover, .coburg-link:focus {
  color: white;
  background: #4c1d79;
}

.capacity-link {
  border-color: #1d62f0;
  color: #1d62f0;
}

.capacity-link:hover, .capacity-link:focus {
  color: white;
  background: #1d62f0;
}

.cs-odd a {

  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

}

.cs-odd a:hover {

  -webkit-clip-path: polygon(50% -100%, 200% 200%, -100% 200%);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);

}

.cs-even a {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

}

.cs-even a:hover {
  -webkit-clip-path: polygon(-100% -100%, 200% -100%, 50% 200%);
  clip-path: polygon(-100% -100%, 200% -100%, 50% 200%);

}



/*
 * Case Studies
 */

 .case-study-list {
   margin-left: 0;
 }

.case-study-list li {
  list-style: none;
  display: block;

}

.case-study-list li:nth-of-type(odd) {
  border-left: 6px $grey-color-dark solid;
  background: #f1f1f1;
}

.case-study-list li:nth-of-type(even) {
  border-left: 6px $grey-color solid;
  background: #fafafa;
}

.case-study-list li a{
  padding: 1.4em 0 1.4em 3em;
  display: block;
  color: $grey-color;
  font-size: 1.2em;
}

.case-study-list li:hover, .case-study-list li:focus {
  background: #f6f6f6;
}

.intro-content {
  -webkit-column-count: 2;
  -webkit-column-gap: 48px;
  -moz-column-count: 2;
  -moz-column-gap: 48px;
  column-count: 2;
  column-gap: 48px;
  widows: 10;
  orphans: 10;
  @include media-query($on-palm) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}


.case-studies .wrapper img {
  margin: 3em auto;
  display: inherit;

}

.cs-content {
  margin-top: 3em;
  border-top: 1px solid #e8e8e8;
  padding-top: 3em;
}


/* About */

.about .sixth img {
  width: 100%;
  margin-bottom: 1em;

}

.about .sixth:nth-of-type(-n+6) {
  padding-right: 24px;
}

.books .sixth {
  min-height: 400px;
  @include media-query($on-laptop) {
    min-height: 480px;
  }
  @include media-query($on-palm) {
    min-height: 380px;
  }
}
.craft-beer .sixth {
  min-height: 200px;
}
.bourbon .sixth {
  min-height: 300px;
  @include media-query($on-laptop) {
    min-height: 550px;
  }
  @include media-query($on-palm) {
    min-height: 390px;
  }
}

.wrapper {
  margin-bottom: 2em;

}




@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {

  padding-top: 24px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.center {
  text-align: center;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list ul li:first-of-type {
    display: none;
}

.post-list ul {
  margin-left: 0;
}

.post-list li {
 list-style: none;
 display: block;
 width: 95%;
}
.post-content p, .page-heading p {
@include media-query($on-laptop) {
    font-size: 1.2em;
}
}



.post-list ul li:nth-of-type(odd) {
 border-left: 6px $grey-color-dark solid;
 background: #f1f1f1;
}

.post-list ul li:nth-of-type(even) {
 border-left: 6px $grey-color solid;
 background: #fafafa;
}

.post-list li a{
 padding: 1.4em 0 1.4em 4em;
 display: block;
 color: $grey-color;
 font-size: 1.2em;

}

.post-list ul li:hover, .post-list ul li:focus {
 background: #f6f6f6;
}

.post-list  {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 overflow: hidden;
 justify-content: space-between;
  @include media-query($on-laptop) {
    display: block;
  }
}

.post-list li ul li:first-of-type {
  flex: 1;
  margin-right: 24px;
}

.post-list li ul li:nth-of-type(2) {
  flex: 2;
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        margin: 1em auto;
        width: 100%;
        display: block;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-content h2:after {
  height:0;

}

.btw-link {
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
}

.wrapper .image img {
  margin-top: 2em;
  margin-bottom: 2em;
}
